Repository Prekzursil/momentstudio: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "90...100"
  status:
    project:
      default:
        target: 90%
        threshold: 0%
      backend:
        target: 90%
        threshold: 0%
        flags:
          - backend
      frontend:
        target: 90%
        threshold: 0%
        flags:
          - frontend
    patch:
      default:
        target: 90%
        threshold: 0%

comment:
  layout: "reach,diff,flags,files"

flags:
  backend:
    paths:
      - backend/
  frontend:
    paths:
      - frontend/

component_management:
  default_rules:
    statuses:
      - type: project
        target: 90%
        threshold: 0%
  individual_components:
    - component_id: backend
      name: backend
      paths:
        - backend/
    - component_id: frontend
      name: frontend
      paths:
        - frontend/

bundle_analysis:
  warning_threshold: "5%"
  status: informational

test(coverage): superstep s3 expand helper sweeps and shared/page/auth specs
  backend/tests/test_backend_wave_f_pure_helpers_reflection.py
  frontend/src/app/core/auth.service.coverage-wave-fast.spec.ts
  frontend/src/app/pages/page/page.component.coverage-wave-fast.spec.ts
  frontend/src/app/shared/address-form.component.spec.ts
  frontend/src/app/shared/legal-consent-modal.component.spec.ts
  frontend/src/app/shared/locker-picker.component.spec.ts
  frontend/src/app/shared/modal.component.coverage-wave.spec.ts
  frontend/src/app/shared/product-quick-view-modal.component.spec.ts
Due: backend, frontend

test(coverage): superstep s4 add deterministic infra helper branch wave
  backend/tests/test_backend_wave_s_infra_helpers.py
Due: backend

test(coverage): triage unexpected wave files and repair strict-zero blockers
  backend/tests/test_backend_wave_q_catalog_service_api_exceptions.py
  backend/tests/test_backend_wave_t_admin_dashboard_identity_paths.py
  backend/tests/test_backend_wave_u_orders_cancel_email_admin_paths.py
  backend/tests/test_service_auth.py
  frontend/src/app/pages/account/account.state.coverage-wave4.fe-w2.spec.ts
  frontend/src/app/pages/admin/admin.component.coverage-wave7.spec.ts
  frontend/src/app/pages/checkout/checkout.component.coverage-guards.spec.ts
  frontend/src/app/shared/locker-picker.component.spec.ts
Due: backend, frontend

test(coverage): stabilize interrupted wave files for conflict-free integration
  backend/tests/test_admin_dashboard_coverage_wave.py
  backend/tests/test_backend_reflection_sweep_wave.py
  backend/tests/test_orders_coverage_wave.py
  frontend/src/app/pages/account/account.state.coverage-wave4.fe-w2.spec.ts
  frontend/src/app/pages/checkout/checkout.component.coverage-guards.spec.ts
Due: backend, frontend

test(coverage): add high-yield orders and admin-dashboard route matrices
  backend/tests/test_admin_dashboard_coverage_wave.py
  backend/tests/test_orders_coverage_wave.py
Due: backend

test(coverage): expand frontend method sweeps for admin/account/checkout
  frontend/src/app/pages/account/account.state.coverage-wave4.fe-w2.spec.ts
  frontend/src/app/pages/admin/admin.component.coverage-wave7.spec.ts
  frontend/src/app/pages/checkout/checkout.component.coverage-guards.spec.ts
Due: frontend

test(ci): fix PR460 backend/frontend wave blockers and async compatibility
  backend/tests/test_backend_wave_l_orders_admin_catalog_auth.py
  backend/tests/test_backend_wave_n_orders_admin_catalog_auth_more.py
  backend/tests/test_backend_wave_o_orders_admin_dashboard_api.py
  backend/tests/test_backend_wave_t_admin_dashboard_identity_paths.py
  backend/tests/test_orders_coverage_wave.py
  frontend/src/app/pages/admin/admin.component.coverage-wave7.spec.ts
  frontend/src/app/pages/checkout/checkout.component.coverage-guards.spec.ts
  frontend/src/app/shared/address-form.component.spec.ts
  frontend/src/app/shared/locker-picker.component.spec.ts
  frontend/src/app/shared/product-quick-view-modal.component.spec.ts
Due: backend, frontend

test(gates): clear bandit B110 and lizard nloc hotspot in coverage waves
  backend/tests/test_admin_dashboard_coverage_wave.py
  frontend/src/app/pages/shop/shop.component.coverage-wave-fast.spec.ts
Due: backend, frontend

test(coverage): broaden backend reflection sweep across api and services
  backend/tests/test_backend_reflection_sweep_wave.py
Due: backend

test(ci): add account loader coverage wave and robust sentry project resolution
  .github/workflows/sentry-release.yml
  frontend/src/app/pages/account/account.state.coverage-wave5.spec.ts
Due: frontend

test(ci): stabilize PR460 wave tests and restore sentry workflow validity
  .github/workflows/sentry-release.yml
  backend/tests/test_admin_dashboard_coverage_wave.py
  backend/tests/test_backend_wave_l_orders_admin_catalog_auth.py
  backend/tests/test_backend_wave_n_orders_admin_catalog_auth_more.py
  backend/tests/test_backend_wave_o_orders_admin_dashboard_api.py
  backend/tests/test_backend_wave_s_infra_helpers.py
  backend/tests/test_backend_wave_t_admin_dashboard_identity_paths.py
  backend/tests/test_backend_wave_u_orders_cancel_email_admin_paths.py
  backend/tests/test_orders_coverage_wave.py
  backend/tests/test_service_auth.py
  frontend/src/app/pages/admin/admin.component.coverage-wave-fast.spec.ts
  frontend/src/app/pages/admin/admin.component.coverage-wave7.spec.ts
  frontend/src/app/pages/checkout/checkout.component.coverage-wave-fast.spec.ts
Due: backend, frontend

ci(sentry): auto-resolve accessible project slug for PR verification
  .github/workflows/sentry-release.yml
Due: none

test(ci): unblock checkout/account wave specs and sentry PR verification
  .github/workflows/sentry-release.yml
  frontend/src/app/pages/account/account.state.coverage-wave-fast.spec.ts
  frontend/src/app/pages/account/account.state.coverage-wave4.fe-w2.spec.ts
  frontend/src/app/pages/account/account.state.coverage-wave5.spec.ts
  frontend/src/app/pages/checkout/checkout.component.coverage-guards.spec.ts
  frontend/src/app/shared/legal-consent-modal.component.spec.ts
  frontend/src/app/shared/locker-picker.component.spec.ts
Due: frontend

test(ci): stabilize frontend wave specs and harden sentry resolver
  .github/workflows/sentry-release.yml
  frontend/src/app/core/auth.service.coverage-wave-fast.spec.ts
  frontend/src/app/pages/admin/admin.component.coverage-wave-fast.spec.ts
  frontend/src/app/pages/admin/admin.component.coverage-wave7.spec.ts
  frontend/src/app/shared/product-quick-view-modal.component.spec.ts
Due: frontend

ci(sentry): allow resolver API lookup to fail before cli fallback
  .github/workflows/sentry-release.yml
Due: none

test(frontend): fix shop fast-wave category and scroll restore paths
  frontend/src/app/pages/shop/shop.component.coverage-wave-fast.spec.ts
Due: frontend

test(coverage): expand account export/passkey and coupons admin branches
  backend/tests/test_coupons_coverage_wave.py
  frontend/src/app/pages/account/account.state.coverage-wave-fast.spec.ts
Due: backend, frontend

test(coverage): expand cli import, shipping, and order helper coverage
  backend/tests/test_cli_coverage_wave.py
Due: backend

ci(sentry): verify project binding via project API endpoint
  .github/workflows/sentry-release.yml
Due: none

ci(sentry): make pr verify resolve project via sentry-cli
  .github/workflows/sentry-release.yml
Due: none

ci(codecov): retry transient bundle-analyzer upload failures
  .github/workflows/codecov-analytics.yml
Due: none

test(coverage): expand admin account and orders branch matrices
  backend/tests/test_orders_coverage_wave.py
  frontend/src/app/pages/account/account.state.coverage-wave4.fe-w2.spec.ts
  frontend/src/app/pages/admin/admin.component.coverage-wave-fast.spec.ts
Due: backend, frontend

test(coverage): expand admin blog and gdpr dashboard branch flows
  backend/tests/test_admin_dashboard_coverage_wave.py
  frontend/src/app/pages/admin/admin.component.coverage-wave-fast.spec.ts
Due: backend, frontend

test(coverage): add auth endpoint reflection sweep for branch burn
  backend/tests/test_auth_coverage_wave.py
Due: backend

test(coverage): add catalog endpoint reflection sweep
  backend/tests/test_catalog_payments_coverage_wave.py
Due: backend

test(sonar): sanitize coverage waves and remove scanner hotspots
  backend/tests/test_admin_dashboard_coverage_wave.py
  backend/tests/test_auth_coverage_wave.py
  backend/tests/test_catalog_payments_coverage_wave.py
  frontend/src/app/pages/account/account.state.coverage-wave-fast.spec.ts
  frontend/src/app/pages/account/account.state.coverage-wave4.fe-w2.spec.ts
  frontend/src/app/pages/checkout/checkout.component.coverage-guards.spec.ts
Due: backend, frontend

test(sonar): harden remaining issue set and stabilize reflection sweeps
  backend/tests/test_backend_reflection_sweep_wave.py
  backend/tests/test_backend_wave_f_pure_helpers_reflection.py
  backend/tests/test_backend_wave_l_orders_admin_catalog_auth.py
  backend/tests/test_backend_wave_m_content_email_orders_helpers.py
  backend/tests/test_backend_wave_t_admin_dashboard_identity_paths.py
  backend/tests/test_catalog_payments_coverage_wave.py
  backend/tests/test_coupons_coverage_wave.py
  frontend/src/app/core/auth.service.coverage-wave-fast.spec.ts
  frontend/src/app/pages/account/account.state.coverage-wave4.fe-w2.spec.ts
  frontend/src/app/pages/admin/orders/admin-orders.methods.spec.ts
  frontend/src/app/shared/locker-picker.component.spec.ts
Due: backend, frontend

test(coverage): expand reflection sweeps with optional-arg invocation variants
  backend/tests/test_backend_reflection_sweep_wave.py
Due: backend

test(coverage): expand coupons and admin-dashboard high-miss branch matrices
  backend/tests/test_admin_dashboard_coverage_wave.py
  backend/tests/test_coupons_coverage_wave.py
Due: backend

test(coverage): harden admin dashboard wave + admin harness fallbacks
  backend/tests/test_admin_dashboard_coverage_wave.py
  frontend/src/app/pages/admin/admin.component.coverage-wave7.spec.ts
Due: backend, frontend

test(coverage): extend orders guards and expand admin/account sweep coverage
  backend/tests/test_orders_coverage_wave.py
  frontend/src/app/pages/account/account.state.coverage-wave-fast.spec.ts
  frontend/src/app/pages/admin/admin.component.coverage-wave7.spec.ts
Due: backend, frontend

test(coverage): expand orders admin/filter/export helper coverage
  backend/tests/test_orders_coverage_wave.py
Due: backend

test(coverage): expand admin dashboard helper path coverage
  backend/tests/test_admin_dashboard_coverage_wave.py
Due: backend

test(coverage): add catalog translation and image helper wave
  backend/tests/test_catalog_translation_lookup_wave.py
Due: backend

test(coverage): add high-yield catalog/content helper waves
  backend/tests/test_catalog_query_filters_wave.py
  backend/tests/test_content_link_find_replace_wave.py
Due: backend

test(coverage): extend content find-replace and link validation wave
  backend/tests/test_content_link_find_replace_wave.py
Due: backend

test(coverage): add catalog mutation and bulk helper wave
  backend/tests/test_catalog_mutation_helpers_wave.py
Due: backend

test(coverage): stabilize frontend permissive sweeps and prompt guards
  frontend/src/app/pages/account/account.state.coverage-wave4.fe-w2.spec.ts
  frontend/src/app/pages/admin/admin.component.coverage-wave7.spec.ts
  frontend/src/app/pages/checkout/checkout.component.coverage-guards.spec.ts
Due: frontend

test(coverage): add backend session and sync-helper reflection superstep
  backend/tests/test_backend_wave_g_session_reflection.py
  backend/tests/test_backend_wave_h_sync_service_helpers.py
Due: backend

test(coverage): expand admin cms draft and revision helper coverage
  frontend/src/app/pages/admin/admin.component.coverage-wave7.spec.ts
Due: frontend
